content
    >section
        padding: 10px
        display: flex
        justify-content: center
        align-items: center

    .sela
        display: flex
        justify-content: center
        align-items: flex-start
        .tab
            display: flex
            justify-content: center
            flex-wrap: wrap
            table
                display: block
                border-radius: 3px
                background: $alt
                box-shadow: $sombra
                margin: 0 10px 10px 0
                padding: 5px
                caption
                    display: flex
                    align-items: center
                    justify-content: space-between
                    box-shadow: 0 2px $med
                    padding: 5px
                    margin-bottom: 5px
                    div
                        display: flex
                        a
                            margin-left: 12px
                td
                    text-align: center
                    vertical-align: middle
                    padding: 5px 5px
                a
                    display: block
                    text-decoration: none
    >aside
        padding: 10px
        .lis-ped
            width: 400px
            ul
                display: flex
                flex-direction: column
                li
                    display: flex
                    padding: 5px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    background: $med-alt
                    margin-bottom: 5px
                    border-radius: 3px
                    div
                        display: flex
                        flex-direction: row
                        align-items: center
                        a
                            text-decoration: none
                            margin-left: 5px
            .carrinho
                background: $alt
                padding: 10px 5px
                border-radius: 3px
                table
                    width: 100%
                    color: $bai
                    text-align: left
