@font-face {
  font-family: roboto-r;
  src: url("font/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto-b;
  src: url("font/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto-i;
  src: url("font/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

.logo {
  color: #6e598a;
  font-size: 50px;
}

.logo-mini {
  color: #6e598a;
  font-size: 25px;
}

.left {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.h-form {
  color: #412c5d;
}

.tab-graf .bar-graf {
  width: 220px;
}

.tab-graf .bar-graf meter {
  width: 100%;
  background: #c8b3e4;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px -5px #333 inset;
}

.tab-graf .bar-graf meter::-webkit-meter-bar {
  background: linear-gradient(135deg, transparent, transparent, 33%, #9b86b7 33%, #9b86b7 66%, transparent 66%);
  background-size: 2em 1em;
  border-radius: 3px;
}

.tab-graf .bar-graf meter::-webkit-meter-optimum-value {
  background: #412c5d;
  border-radius: 3px;
}

.wrap {
  width: 270px;
  padding: 10px;
  border-radius: 3px;
  background: #f5e0ff;
  box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.5);
  display: flex;
}

.wrap:first-of-type {
  margin-bottom: 10px;
}

.formulario {
  width: 100%;
  margin: auto;
}

.formulario .input-group {
  position: relative;
  margin-top: 25px;
}

.formulario .input-group input[type="text"],
.formulario .input-group input[type="email"],
.formulario .input-group input[type="password"],
.formulario .input-group input[type="tel"] {
  font-size: 1em;
  color: #412c5d;
  width: 100%;
  outline: none;
  padding: 0px 5px;
  background: none;
  border: none;
  border-bottom: 2px solid #c8b3e4;
}

.formulario .input-group input[type="text"]:focus,
.formulario .input-group input[type="text"]:active,
.formulario .input-group input[type="email"]:focus,
.formulario .input-group input[type="email"]:active,
.formulario .input-group input[type="password"]:focus,
.formulario .input-group input[type="password"]:active,
.formulario .input-group input[type="tel"]:focus,
.formulario .input-group input[type="tel"]:active {
  outline: none;
  border-bottom: 2px solid #412c5d;
}

.formulario .input-group input[type="text"].error,
.formulario .input-group input[type="email"].error,
.formulario .input-group input[type="password"].error,
.formulario .input-group input[type="tel"].error {
  border-bottom: 2px solid #D32F2F;
}

.formulario .input-group input[type="text"].error + label,
.formulario .input-group input[type="email"].error + label,
.formulario .input-group input[type="password"].error + label,
.formulario .input-group input[type="tel"].error + label {
  color: #D32F2F;
}

.formulario .input-group label {
  color: #412c5d;
}

.formulario .input-group label.label {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 0px;
  font-size: 1em;
  line-height: 16px;
  position: absolute;
  top: 3px;
  left: 0;
}

.formulario .input-group label.label.active {
  top: -14px;
  font-size: 12px;
  line-height: 12px;
  color: #9b86b7;
}

.formulario .input-group.checkbox label,
.formulario .input-group.radio label {
  display: inline-block;
  cursor: pointer;
  color: #412c5d;
  position: relative;
  padding: 5px 7px 5px 32px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formulario .input-group.checkbox label:hover,
.formulario .input-group.radio label:hover {
  background: #c8b3e4;
}

.formulario .input-group.checkbox label:before,
.formulario .input-group.radio label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 7px;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: none;
  border: 2px solid #412c5d;
}

.formulario .input-group.error label {
  color: #D32F2F;
}

.formulario .input-group.error label:hover {
  background: rgba(211, 47, 47, 0.2);
}

.formulario .input-group.error label:before {
  border: 2px solid #D32F2F;
}

.formulario .input-group.radio input[type="radio"] {
  display: none;
}

.formulario .input-group.radio input[type="radio"]:checked + label:before {
  display: none;
}

.formulario .input-group.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #412c5d;
  border-radius: 2px;
  color: #ff4081;
}

.formulario .input-group.checkbox label:before {
  border-radius: 3px;
}

.formulario .input-group.checkbox input[type="checkbox"] {
  display: none;
}

.formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
  display: none;
}

.formulario .input-group.checkbox input[type="checkbox"]:checked + label {
  background: #412c5d;
  color: #ff4081;
  padding: 5px 15px;
}

.formulario .input-group.checkbox input[type="radio"] {
  display: none;
}

.formulario .input-group.checkbox input[type="radio"]:checked + label:before {
  display: none;
}

.formulario .input-group.checkbox input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #412c5d;
  border-radius: 2px;
  color: #ff4081;
}

input[type="submit"], .btn, button {
  background: #412c5d;
  outline: none;
  border: none;
  color: #f5e0ff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 15px;
  box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="submit"]:hover, .btn:hover, button:hover {
  background: #554071;
  color: #fff4ff;
}

input[type="submit"]:active, .btn:active, button:active {
  box-shadow: 0px 3px 2px -1.5px rgba(0, 0, 0, 0.5);
  background: #412c5d;
  color: #ff4081;
}

.cancel {
  background: #fff;
  color: #412c5d;
}

.cancel:hover {
  background: #fff;
  color: #ff4081;
}

.cancel:active {
  box-shadow: 0px 3px 2px -1.5px rgba(0, 0, 0, 0.5);
  color: #412c5d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto-r;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: #c8b3e4;
  display: flex;
  flex-direction: column;
}

content {
  background: #412c5d;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

content section {
  flex-grow: 1;
}

content aside {
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.5) inset;
}

footer {
  background: #c8b3e4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > div {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > .user {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

header > div > .user > h3 {
  color: #412c5d;
  margin-right: 10px;
}

header > div > .user > h2 {
  font-style: italic;
  color: #6e598a;
}

header > .menu-pri {
  background: #9b86b7;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .menu-pri a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #412c5d;
}

header > .menu-pri a:hover {
  background: #412c5d;
  color: #ff4081;
}

header > .menu-pri > ul {
  display: flex;
}

header > .menu-pri > ul > li {
  list-style: none;
}

content > section {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

content .sela {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

content .sela .tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

content .sela .tab table {
  display: block;
  border-radius: 3px;
  background: #f5e0ff;
  box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.5);
  margin: 0 10px 10px 0;
  padding: 5px;
}

content .sela .tab table caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px #9b86b7;
  padding: 5px;
  margin-bottom: 5px;
}

content .sela .tab table caption div {
  display: flex;
}

content .sela .tab table caption div a {
  margin-left: 12px;
}

content .sela .tab table td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 5px;
}

content .sela .tab table a {
  display: block;
  text-decoration: none;
}

content .coluna {
  flex-direction: column;
}

content .coluna .estatico {
  margin-bottom: 10px;
  transition: 2s all;
}

content .coluna .estatico table {
  width: 384px;
  margin: 0;
}

content .coluna .estatico table th {
  text-align: left;
}

content .coluna .estatico table td {
  text-align: right;
}

content .coluna .estatico table .th-head {
  text-align: center;
  border-top: 2px solid #412c5d;
  background: #6e598a;
}

content .coluna .estatico table thead {
  display: none;
}

content .coluna .estatico table tbody {
  display: none;
}

content .coluna .estatico table tfoot {
  display: none;
}

content .coluna .ativo {
  margin-bottom: 10px;
  transition: 2s all;
}

content .coluna .ativo table {
  width: 384px;
  margin: 0;
}

content .coluna .ativo table caption > div > a {
  transform: rotate(180deg);
}

content .coluna .ativo table th {
  text-align: left;
}

content .coluna .ativo table td {
  text-align: right;
}

content .coluna .ativo table .th-head {
  text-align: center;
  border-top: 2px solid #412c5d;
  background: #6e598a;
}

content .coluna .ativo table thead {
  display: none;
}

content > aside {
  padding: 10px;
  display: flex;
  align-items: center;
}

content > aside .lis-ped {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

content > aside .lis-ped .tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

content > aside .lis-ped .tab table {
  display: block;
  border-radius: 3px;
  background: #f5e0ff;
  box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

content > aside .lis-ped .tab table caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px #9b86b7;
  padding: 5px;
  margin-bottom: 5px;
}

content > aside .lis-ped .tab table caption div {
  display: flex;
}

content > aside .lis-ped .tab table caption div a {
  margin-left: 12px;
}

content > aside .lis-ped .tab table td, content > aside .lis-ped .tab table th {
  vertical-align: middle;
  padding: 5px;
}

content > aside .lis-ped .tab table thead {
  text-align: left;
  vertical-align: middle;
  padding: 5px 5px;
}

content > aside .lis-ped .tab table tbody, content > aside .lis-ped .tab table tfoot {
  text-align: right;
}

content > aside .lis-ped .tab table tbody a {
  display: block;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}
