extend layout.jade
block testa
block vida
    .sela.coluna#section
        .tab.estatico#id1
            table#print
                caption
                    h2.h-form Nome do Cliente
                    div
                        sapan.h-form 45
                        a(href="#" id="seta" class="h-form" onclick="return ativo('id1')")
                            i(class="icon-circle-down") 
                thead
                    tr
                        th(colspan="4" class="th-head") Nome da Empresa
                    tr
                        th CNPJ:
                        td(colspan="3") 00000000/00000-00
                    tr
                        th Endereço:
                        td(colspan="3") QNO 4 Conjunto I casa 2 Ceilandia
                    tr
                        th Fone:
                        td(colspan="3") 4002 - 8922
                    tr
                        th Email:
                        td(colspan="3") mail@mail.com
                tbody
                    tr
                        th(colspan="4" class="th-head") Pedido
                    tr
                        th Data:
                        td 13/ 11/ 1045
                        th Vendedor:
                        td Fulano
                    tr
                        th Nome:
                        td Nome do Cliente
                    tr
                        th Endereco:
                        td QNG 30 casa 24
                        th Cidade:
                        td Taguatinga
                    tr
                        th Fone:
                        td 3245 - 3245
                    tr
                        th(colspan="4"  class="th-head") Produtos
                    tr
                        th id
                        th(colspan="2") nome
                        th p. unit
                    - for(x = 0; x < 4; x++)
                        tr
                            td 9
                            td(colspan="2") Xurisco Grande
                            td 10.00
                    tr
                        th(colspan="3" ) Taxa entrega
                        td 3.50
                    tr
                        th(colspan="3" ) Total
                        td 40.00
                    tr
                        th(colspan="4" class="th-head") Obrigado Pela Preferencia
                tfoot
                    tr
                        td(colspan="4" )
                            button(onclick="cont('id1');")
                                i(class="icon-printer")
                                |  Imprimir
        .tab.estatico#id2
            table
                caption
                    h2.h-form Nome do Cliente
                    div
                        sapan.h-form 45
                        a(href="#" id="seta" class="h-form"  onclick="ativo('id2')")
                            i(class="icon-circle-down") 
                thead
                    tr
                        th(colspan="4" class="th-head") Nome da Empresa
                    tr
                        th CNPJ:
                        td(colspan="3") 00000000/00000-00
                    tr
                        th Endereço:
                        td(colspan="3") QNO 4 Conjunto I casa 2 Ceilandia
                    tr
                        th Fone:
                        td(colspan="3") 4002 - 8922
                    tr
                        th Email:
                        td(colspan="3") mail@mail.com
                tbody
                    tr
                        th(colspan="4" class="th-head") Pedido
                    tr
                        th Data:
                        td 13/ 11/ 1045
                        th Vendedor:
                        td Fulano
                    tr
                        th Nome:
                        td Nome do Cliente
                    tr
                        th Endereco:
                        td QNG 30 casa 24
                        th Cidade:
                        td Taguatinga
                    tr
                        th Fone:
                        td 3245 - 3245
                    tr
                        th(colspan="4"  class="th-head") Produtos
                    tr
                        th id
                        th(colspan="2") nome
                        th p. unit
                    - for(x = 0; x < 4; x++)
                        tr
                            td 9
                            td(colspan="2") Xurisco Grande
                            td 10.00
                    tr
                        th(colspan="3" ) Taxa entrega
                        td 3.50
                    tr
                        th(colspan="3" ) Total
                        td 40.00
                    tr
                        th(colspan="4" class="th-head") Obrigado Pela Preferencia
                tfoot
                    tr
                        td(colspan="4" )
                            button: i(class="icon-printer")  Inprimir
block casa
    .lis-ped
        
block js
    script(src="js/cupon-pedido.js")
